*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px red solid; */
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    background: linear-gradient(to top left, #ADC4CE, 60%, #96B6C5);
    min-height: 100vh;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4rem;
    color: #eee;
    font-family: 'Caveat', cursive;
}

.cleanCard {
    /* Zorgt dat de lentge nu anderhalf keer zo groot is als de breete */
    height: 50rem;
    width: 40rem;
    background: rgba(20, 20, 20, 1);
    border-radius: 0.5rem;
    /* Verdeelt alle blokken over de ruimte */
    /* flex-grow: 1; */
}

.cleanCard__header {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cleanCard__heading {
    font-weight: 400;
    font-size: 300%;
    color: white;
}

.cleanCard__activities {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    gap: 2rem;
    padding: 2rem;
}

.cleanCard__activity {
    list-style: none;
    border: 0.2rem solid #eee;
    border-left: none;
    border-right: none;
    width: 100%;
    padding: 1rem;
}

.cleanCard__activity:hover {
    cursor: pointer;
}

.cleanCard__activity--done {
    text-decoration: line-through;
}

.cleanCard__footer {
    height: 10%;
    display: flex;
    border-top: 0.2rem solid #eee;
    padding-left: 2rem;
}

.cleanCard__input {
    height: 100%;
    width: 70%;
    border: none;
    background: rgba(20, 20, 20, 1);
    color: #eee;
    font-size: 100%;
}

.cleanCard__input:focus {
    outline: none;
}

.cleanCard__button {
    height: 100%;
    width: 30%;
    border-radius: 0;
    border: none;
    font-size: 100%;
    background: #eee;
    font-family: 'Caveat', cursive;
}